.product {
    padding-top: 120px;
    padding-bottom: 168px;
}
.product-row {
    display: flex;
    justify-content: space-between;
}
.product-img-wrapper {
    position: relative;
    margin-right: 86px;
    padding-left: 60px;
    padding-bottom: 74px;
}
.product-img {
    border-radius: 18px;
}
.product-content {
    max-width: 584px;
}
.product-content-title {
    line-height: 157%;
    font-weight: 600;
    font-size: 25px;
}
.product-content-title + * {
    margin-top: 10px;
}
.product-content-subtitle {
    color: #01996D;
    font-weight: 700;
    font-size: 50px;font-family: 'Georgia', serif;
    line-height: 157%;
}
.product-content-subtitle + * {
    margin-top: 20px;
}
.product-content-text {
    color: #484848;
    line-height: 144.5%;
    max-width: 530px;
}
.product-content-text + * {
    margin-top: 40px;
}
.product-card {
    position: absolute;
    left: 0;
    bottom: 0;
}
.card {
    width: 296px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 20px 30px;
}
.card-title {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    padding-bottom: 12px;
    margin-bottom: 13px;
}
.card-title::after {
    content: "";
    position: absolute;
    background-color: #000;
    height: 0.75px;
    left: -7px;
    right: -7px;
    bottom: 0px;
}
.avatar {
    text-align: center;
}
.avatar-img {
    border-radius: 50%;
    margin-bottom: 13px;
    width: 57px;
    height: 57px;
    object-fit: cover;
}
.avatar-name {
    font-size: 12px;
}
.card-avatar {
    margin-bottom: 25px;
}
.card-contents {
    text-align: left;
    padding-left: 6px;
}
.card-contents-title {
    font-family: 'Georgia', serif;
    font-size: 16px;
    margin-bottom: 22px;
    font-weight: 700;
}
.card ul {
    font-size: 10.62px;
    list-style-type: disc;
    list-style-position: inside;
}
.card ul li + li {
    margin-top: 20px;
}
@media (max-width: 1299px) {
    .product {
        padding-top: 80px;
    }
    .product-img-wrapper {
        flex: 1 0 auto;
        flex-basis: 50%;
    }
}
@media (max-width: 1199px) {
    .product-content-subtitle {
        font-size: 40px;
        line-height: 130%;
    }
    .product-card {
        top: 60%;
    }
}
@media (max-width: 991px) {
    .product {
        padding-top: 40px;
        padding-bottom: 80px;
    }
    .product-row {
        flex-direction: column-reverse;
    }
    .product-content-subtitle {
        font-size: 30px;
    }
    .product-content {
        margin-bottom: 40px;
    }
    .product-card {
        position: static;
        z-index: 2;
        margin-top: -10%;
        display: flex;
        justify-content: center;
    }
    .product-img-wrapper {
        padding: 0;
        margin: 0;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .product {
        padding-bottom: 40px;
    }
    .product-card {
        margin: -30% 15px 0;
    }
    .card {
        max-width: 296px;
    }
}


