.story {
    padding: 229px 0 176px;
    background-color: #245852;
    color: #fff;
}
.story-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.story-content {
    margin-right: 30px;
    max-width: 580px;
}
.story-heading {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Georgia', serif;
    line-height: 157%;
}
.story-heading + * {
    margin-top: 33px;
}
.story-text {
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
}
.story-text + * {
    margin-top: 57px;
}
a.btn {
    margin-left: 0;
}
.story-video {
    max-width: 895px;
    position: relative;
    border-radius: 18px;
    overflow: hidden;
}
.story-video-overlay {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s ease;
}
.story-video-overlay.hidden {
    opacity: 0;
}
.story-video-object {
    max-width: 100%;
    height: auto;
    vertical-align: top; /* чтобы наложение на видео не смещалось */
}
.story-video-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 1199px) {
    .story-row {
        flex-direction: column-reverse;
    }
    section.story {
        padding: 70px 0 70px;
    }
    .story-video {
        margin-bottom: 40px;
    }
    .story-heading {
        font-size: 40px;
    }
    .story-text {
        font-size: 20px;
        line-height: 130%;
    }
    .story-text + * {
        margin-top: 30px;
    }
}
@media (max-width: 991px) {
    section.story {
        padding: 50px 0 50px;
    }
    .story-heading {
        font-size: 30px;
    }
    .story-text {
        font-size: 18px;
    }
    .story-text + * {
        margin-top: 20px;
    }
}

